<ion-toolbar style="padding: 15px;">
  <ion-title class="ion-text-center">Novo Pedido
    <ion-icon [routerLink]="['/clientes']" style="float: right;" name="close-outline"></ion-icon>
  </ion-title>
  
</ion-toolbar>


<ion-content>
  <div style="margin-left: 15px;">
  <ion-item >
    <ion-label>Item: </ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Valor: </ion-label>
    <ion-input [brmasker]="{money: true, thousand: '.',  decimalCaracter: ',', decimal: '2'}"></ion-input>
  </ion-item>
</div>

<ion-button expand="block" style="height: 50px; margin:50px 30px;">Gerar pedido</ion-button>

</ion-content>