<ion-toolbar style="padding: 15px;">
  <ion-title class="ion-text-center">Novo Pedido
    <ion-icon [routerLink]="['/orders']" style="float: right;" name="close-outline"></ion-icon>
  </ion-title>
</ion-toolbar>

<ion-content>

  <div style="margin-left: 15px;">
    <form [formGroup]="ordersForm" (ngSubmit)="onSubmit()">
      <ion-item >
        <ion-label>Item: </ion-label>
        <ion-input formControlName="item"></ion-input>
        <div class="miniError" *ngIf="control('item')?.errors?.required">Insira um item</div>
      </ion-item>
      <ion-item>
        <ion-label>Valor: </ion-label>
        <ion-input formControlName="value" [brmasker]="{money: true, thousand: ',',  decimalCaracter: '.', decimal: '2'}"></ion-input>
        <div class="miniError" *ngIf="control('value')?.errors?.required">Insira um valor</div>
      </ion-item>
      <ion-button type="submit" [disabled]="ordersForm.invalid" expand="block" style="height: 50px; margin:50px 30px;">Gerar Pedido</ion-button>
    </form>
  </div>

</ion-content>