<ion-content [fullscreen]="true">

  
  <section>

    <ion-button expand="block" color="#fd7e14" style="height: 50px; margin:10% 2% 10% 2%; background-color:#ff7300; border-radius:10px;">Novo Cliente</ion-button>
    
  </section>
<!-- fazer ngfor -->
  <section class="grid grid-template-rows-4">
      <div class="bold">Nome: </div>
      <div class="bold">CNPJ: </div>
      <div class="bold">Total faturado: </div>
      <div> </div>
      <div style="justify-self: flex-end; margin-right: 15%;"><ion-icon (click)="showModal()" name="ellipsis-vertical-outline"></ion-icon></div>
      <div></div>
  </section>
<ion-item-divider style="margin-top: -5px;"></ion-item-divider>
  

</ion-content>
