<ion-content >


  <ion-title> <ion-icon [routerLink]="['/clientes']" style="float: right; margin-top: 20px;"   name="close-outline"></ion-icon>
    <ion-button [routerLink]="['/new-order']" expand="block" style="height: 50px; margin:50px 10px;">Novo pedido</ion-button>
  </ion-title>

  <ion-item style="margin-left: 15px;" *ngFor="let order of orders$">
    <ion-label>
      <ion-text>
        <h5 >Pedido # {{order.id}}</h5>
      </ion-text>
      <ion-text>
        <h5 style=" margin: 0px;">Produto: {{order.item}}</h5>
      </ion-text>
      <ion-text>
        <h5 style="margin: 0px;">Valor: {{order.value | currency:'BRL'}}</h5>
      </ion-text>
    </ion-label>
  </ion-item>

</ion-content>