<ion-content [fullscreen]="true">


  <ion-title> <ion-icon [routerLink]="['/clientes']" style="float: right; margin-top: 20px;" name="close-outline"></ion-icon>
    <ion-button [routerLink]="['/new-order']" expand="block" style="height: 50px; margin:50px 10px;">Novo pedido</ion-button>

    
  </ion-title>


  <ion-item style="margin-left: 15px;" *ngFor="let order of orders$">
    <ion-label>
      <ion-text>
        <h5 style="float:left;">Pedido #</h5>
        <h5>{{order.id}}</h5>
      </ion-text>
      <ion-text>
        <h5 style="float:left; margin: 0px;">Produto: </h5>
        <h5>{{order.item}}</h5>
      </ion-text>
      <ion-text>
        <h5 style="float:left; margin: 0px;">Valor: </h5>
        <h5> {{order.value}}</h5>
      </ion-text>
    </ion-label>

  </ion-item>

</ion-content>