<ion-toolbar style="padding: 15px;">
  <ion-title *ngIf="this.url == '/update'" class="ion-text-center">Atualizar Cliente
    <ion-icon [routerLink]="['/clientes']" style="float: right;" name="close-outline"></ion-icon>
  </ion-title>
  <ion-title *ngIf="this.url == '/new-client'" class="ion-text-center">Novo Ciente
    <ion-icon [routerLink]="['/clientes']" style="float: right;" name="close-outline"></ion-icon>
  </ion-title>
  
</ion-toolbar>

<ion-content>
  <div style="margin-left: 15px;">
  <ion-item >
    <ion-label>Nome: </ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>CNPJ: </ion-label>
    <ion-input maxlength="14"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Endereço: </ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Cidade: </ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Estado: </ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Telefone: </ion-label>
    <ion-input></ion-input>
  </ion-item>
</div>

<ion-button *ngIf="this.url == '/update'" expand="block" style="height: 50px; margin:50px 30px;">Atualizar cliente</ion-button>
<ion-button *ngIf="this.url == '/new-client'" expand="block" style="height: 50px; margin:50px 30px;">Cadastrar cliente</ion-button>

</ion-content>