<ion-toolbar style="padding: 15px;">
  <ion-title *ngIf="this.url == '/update'" class="ion-text-center">Atualizar Cliente
    <ion-icon [routerLink]="['/clientes']" style="float: right;" name="close-outline"></ion-icon>
  </ion-title>
  <ion-title *ngIf="this.url == '/new-client'" class="ion-text-center">Novo Ciente
    <ion-icon [routerLink]="['/clientes']" style="float: right;" name="close-outline"></ion-icon>
  </ion-title>

</ion-toolbar>

<ion-content>

  <div style="margin-left: 15px;">
    <form [formGroup]="clientsForm" (ngSubmit)="onSubmit()">
      <ion-item >
        <ion-label>Nome: </ion-label>
        <ion-input formControlName="name"></ion-input>
        <div class="miniError" *ngIf="control('name')?.errors?.required">Insira um nome</div>
        <div class="miniError" *ngIf="control('name')?.errors?.minlength">Minimo 4 letras</div>
      </ion-item>
      <ion-item>
        <ion-label>CNPJ: </ion-label>
        <ion-input formControlName="cnpj" [brmasker]="{person: true}"></ion-input>
        <div class="miniError" *ngIf="control('cnpj')?.errors?.required">Insira um CNPJ</div>
        <div class="miniError" *ngIf="control('cnpj')?.errors?.minlength">Minimo 14 digitos</div>
      </ion-item>
      <ion-item>
        <ion-label>Endereço: </ion-label>
        <ion-input formControlName="address"></ion-input>
        <div class="miniError" *ngIf="control('address')?.errors?.required">Insira um endereço</div>
      </ion-item>
      <ion-item>
        <ion-label>Cidade: </ion-label>
        <ion-input formControlName="city"></ion-input>
        <div class="miniError" *ngIf="control('city')?.errors?.required">Insira uma cidade</div>
        <div class="miniError" *ngIf="control('city')?.errors?.minlength">Cidade inválida</div>
      </ion-item>
      <ion-item>
        <ion-label>Estado: </ion-label>
        <ion-input formControlName="state"></ion-input>
        <div class="miniError" *ngIf="control('state')?.errors?.required">Insira um estado</div>
        <div class="miniError" *ngIf="control('state')?.errors?.minlength">Minimo 2 letras</div>
      </ion-item>
      <ion-item>
        <ion-label>Telefone: </ion-label>
        <ion-input formControlName="phone" [brmasker]="{phone: true}"></ion-input>
        <div class="miniError" *ngIf="control('phone')?.errors?.required">Insira um telefone</div>
        <div class="miniError" *ngIf="control('phone')?.errors?.minlength">Telefone inválido</div>
      </ion-item>

      <ion-button *ngIf="this.url == '/update'" type="submit" (click)="update(cliente.id)" [disabled]="clientsForm.invalid" expand="block" style="height: 50px; margin:50px 30px;">Atualizar cliente</ion-button>
      <ion-button *ngIf="this.url == '/new-client'" type="submit" [disabled]="clientsForm.invalid" expand="block" style="height: 50px; margin:50px 30px;">Cadastrar cliente</ion-button>
    </form>
  </div>


</ion-content>